.menu-list-table {
    
    width: 100%;
    padding: 8px;
}

.menu-list-table-header {
    text-align: left;
    background-color: gainsboro;
    font-size: 1.2rem;
}

.menu-list-table-header-title{
    padding: 8px 0 8px 0;
}