.navigation-container {
    /* display: flex; */
}

.navigation-sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    background-color: rgb(102, 108, 106);
    border-right: 1px solid gainsboro;
}

.navigation-content {
    flex-basis: 85%;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
}

.navigation-title {
    font-size: 2rem;
    font-weight: bolder;
    padding: 32px 0 0 16px;
    color: whitesmoke;
}

.navigation-subtitle {
    font-size: 0.8rem;
    padding-left: 16px;
    color: whitesmoke;
    margin-bottom: 8px;
}

.navigation-header-menu {
    background-color: whitesmoke;
    padding: 16px 8px 16px 16px;
    font-weight: bolder;
    color: rgb(94, 94, 94);
}

.navigation-menu-item {
    padding: 16px;
    font-size: 1rem;
    cursor: pointer;
    color: whitesmoke;
}

.navigation-logout{
    margin: 32px 8px 0 8px;
}

.navigation-menu-item:hover {
    font-weight: bolder;
}
.logout-button {
    background-color: whitesmoke;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(94, 94, 94);
}